.irrigator-grid {
	max-width: 1200px;
	margin: 0 auto;

	.cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		gap: 1rem;

		@media (max-width: 1024px) {
			grid-template-columns: 1fr;
		}

		.card {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			background: var(--gray-base);
			border-radius: 12px;

			.image {
				object-fit: cover;
				transition: transform 0.3s ease;
				padding: 20px;
			}

			&:hover .image {
				transform: scale(1.05);
			}

			.content {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 1.5rem;
				height: 100%;

				h3 {
					font-size: 1.25rem;
					color: var(--text-color);
					margin-bottom: 0.5rem;
				}
			}

			.price {
				font-size: 1.5rem;
				font-weight: bold;
				color: #3498db;
				margin-bottom: 0.5rem;
			}

			.rating {
				display: flex;
				justify-content: space-between;
				gap: 0.5rem;
				margin: .5rem 0 .8rem;

				span {
					color: var(--text-color);
					font-weight: bold;
					font-size: 1rem;
				}
			}

			.button {
				display: inline-block;
				width: 100%;
				padding: 0.75rem 1.5rem;
				background: var(--primary);
				color: white;
				text-align: center;
				text-decoration: none;
				border-radius: 6px;
				transition: background-color 0.3s ease;

				&:hover {
					background: darken(#3498db, 10%);
				}
			}
		}
	}
}